<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" class="m-b-20">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start" class="m-r-20" fxFlex.gt-xs="calc(50% - 24px)">
    <div class="widget m-r-20" fxFlex.gt-xs>
      <stb-widget-state
        value="8888"
        icon="group_add"
        backgroundcolor="linear-gradient(60deg, #8C99E0, #6572B8)"
        textcolor="white"
        property="element"
        changepercent="77"
        changeicon="trending_up"
      ></stb-widget-state>
    </div>
    <div class="widget" fxFlex.gt-xs>
      <stb-widget-state
        value="8888"
        icon="pageview"
        backgroundcolor="linear-gradient(60deg, #4DD0E2, #4CA8BA)"
        textcolor="white"
        property="element"
        changepercent="30"
        changeicon="trending_up"
      ></stb-widget-state>
    </div>
  </div>

  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start" fxFlex.gt-xs="calc(50% - 24px)">
    <div class="widget m-r-20" fxFlex.gt-xs>
      <stb-widget-state
        value="8888"
        icon="link"
        backgroundcolor="linear-gradient(60deg, #81C683, #62A864)"
        textcolor="white"
        property="element"
        changepercent="77"
        changeicon="trending_down"
      ></stb-widget-state>
    </div>
    <div class="widget" fxFlex.gt-xs>
      <stb-widget-state
        value="8888"
        icon="monetization_on"
        backgroundcolor="linear-gradient(60deg, #EAC459, #DCAC3F)"
        textcolor="white"
        property="element"
        changepercent="77"
        changeicon="trending_up"
        valueprefix="$"
      ></stb-widget-state>
    </div>
  </div>

</div>


<div class="card mat-elevation-z2 m-b-20">
  <div class="card-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div>Stats</div>
    <div fxLayout="row">
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <div class="card-content" fxLayout="column">
    <div class="task-container" fxLayout="column">
      <div class="task" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-checkbox class="checkbox" color="primary"></mat-checkbox>
          <div>Detail</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center">
          <div>10.01</div>
        </div>
      </div>
    </div>

    <div class="task-container" fxLayout="column">
      <div class="task" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-checkbox class="checkbox" color="primary"></mat-checkbox>
          <div>Detail</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center">
          <div>10.01</div>
        </div>
      </div>
    </div>

  </div>
  <div class="card-footer" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button>Review</button>
    <button mat-button>Skip</button>
  </div>
</div>


<div class="card mat-elevation-z2 m-b-20">
  <div class="card-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div>Stats</div>
    <div fxLayout="row">
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <div class="card-content" fxLayout="column">
    <mat-list>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/avatars/1.jpg">
        <h3 mat-line>Title</h3>
        <p mat-line>
          <span>Description Line</span>
          <span class="subline">-- Description SubLine</span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/avatars/2.jpg">
        <h3 mat-line>Title</h3>
        <p mat-line>
          <span>Description Line</span>
          <span class="subline">-- Description SubLine</span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/avatars/3.jpg">
        <h3 mat-line>Title</h3>
        <p mat-line>
          <span>Description Line</span>
          <span class="subline">-- Description SubLine</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="card-footer" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button>Review</button>
  </div>
</div>

